<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title> Settings </title>
    </head>
    <body onload = "functionstg()" >
        <div class="sound" >
            <h1 id="GFG" > Settings </h1>
            <h3> Sound FX OFF/ON</h3>
            <div class="toggle">
                <label class="switch">
                   <input type="checkbox" id="switch" onchange="gmsound()">
                   <div class="circle"></div>
                </label>
            </div>
            
            <h3> BackGround Color</h3>
            <button class="clrchange" onclick="clrchange('aqua')";
                    style="background-color: aqua;">
            </button>
            <button class="clrchange" onclick="clrchange('pink')";
                    style="background-color: pink;"> 
            </button>
        </div>
        <p2> Back to <a href="{% url 'hang_man' %}">Hangman</a></p2>

        {% block js_block %}
        <script type="text/javascript" src= "{% static 'js/hangman.js' %}"> </script>
        {% endblock %}

    </body>
</html>    